spring:
    application:
        name: smartroom
    profiles:
        active: dev
    thymeleaf:
        cache: false
        encoding: UTF-8
        prefix: classpath:/templates/
        suffix: .html
        mode: HTML
    web:
        resources:
            static-locations: classpath:/static/,classpath:/public/

server:
    servlet:
        context-path: /
