<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Icons Fragment</title>
</head>
<body>
	<th:block th:fragment="hubIcon">
		<i class="fas fa-network-wired" title="Hub"></i>
	</th:block>

	<th:block th:fragment="roomIcon">
		<i class="fas fa-door-open" title="Room"></i>
	</th:block>

	<th:block th:fragment="serviceIcon">
		<i class="fas fa-concierge-bell" title="Service"></i>
	</th:block>

	<th:block th:fragment="sensorIcon">
		<i class="fas fa-thermometer-half" title="Sensor"></i>
	</th:block>

	<th:block th:fragment="deviceIcon">
		<i class="fas fa-microchip" title="Device"></i>
	</th:block>

	<th:block th:fragment="locationIcon">
		<i class="fas fa-map-marker-alt" title="Location"></i>
	</th:block>

	<th:block th:fragment="statusIcon">
		<i class="fas fa-bolt" title="Status"></i>
	</th:block>

	<th:block th:fragment="infoIcon">
		<i class="fas fa-info-circle" title="Info"></i>
	</th:block>

	<th:block th:fragment="idIcon">
		<i class="fas fa-hashtag" title="ID"></i>
	</th:block>
</body>
</html>
